NST "input_i/*" TNM = input1;
NET "sig_36<0>" TPTHRU = "net11";
NET "sig_34<0>" TPTHRU = "net12";
NET "mux_5<0>" TPTHRU = "net13";
NET "sig_32<0>" TPTHRU = "net14";
NET "sig_33<0>" TPTHRU = "net15";
NET "mux_21<0>" TPTHRU = "net16";
INST "output_i/*" TNM = output1;
TIMESPEC TS1 = FROM "input1" THRU "net11" THRU "net12" THRU "net13" THRU "net14" THRU "net15" THRU "net16" TO "output1" TIG;
INST "input_i/*" TNM = input2;
NET "sig_36<0>" TPTHRU = "net21";
NET "mux_5<0>" TPTHRU = "net22";
NET "sig_32<0>" TPTHRU = "net23";
NET "mux_21<0>" TPTHRU = "net24";
INST "output_i/*" TNM = output2;
TIMESPEC TS2 = FROM "input2" THRU "net21" THRU "net22" THRU "net23" THRU "net24" TO "output2" TIG;
INST "input_i/*" TNM = input3;
NET "sig_35<0>" TPTHRU = "net31";
NET "sig_34<0>" TPTHRU = "net32";
NET "mux_5<0>" TPTHRU = "net33";
NET "sig_32<0>" TPTHRU = "net34";
NET "sig_33<0>" TPTHRU = "net35";
NET "mux_21<0>" TPTHRU = "net36";
INST "output_i/*" TNM = output3;
TIMESPEC TS3 = FROM "input3" THRU "net31" THRU "net32" THRU "net33" THRU "net34" THRU "net35" THRU "net36" TO "output3" TIG;
#Created by Constraints Editor (xc5vlx50t-ff1136-2) - 2015/12/21
NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 10 ns HIGH 50%;
